# Appwrite
NEXT_PUBLIC_APPWRITE_ENDPOINT=http://localhost/v1
NEXT_PUBLIC_APPWRITE_PROJECT=stars-dominion
NEXT_PUBLIC_APPWRITE_DATABASE_ID=game
APPWRITE_API_KEY=replace-with-key-with-database-perms

# Game
GAZETTE_WINDOW_DAYS=2
